#refreshIndicator {
	position: relative;
	margin: -300px auto 0;
	background: #ffffff0a;
	transition: 0.3s ease-out;
	height: 300px;
	z-index: 1000;
	overflow: hidden;
}

#iconRefreshIndicator {
	opacity: .8;
	position: absolute;
	bottom: 3.5em;
	left: calc(50% - 1em);
	right: auto;
  width: 26px;
  height: 26px;
}

#iconRefreshIndicator .icon-loader {
  width: 34px;
  height: 34px;
}