#refreshIndicator {
	position: relative;
	margin: -300px auto 0;
	background: #ffffff0a;
	transition: 0.3s ease-out;
	height: 300px;
	z-index: 1000;
	overflow: hidden;
	border-bottom: 1px solid #ffffff12;
}

#iconRefreshIndicator {
	opacity: .8;
	position: absolute;
	bottom: 3.5em;
	left: calc(50% - 1em);
	right: auto;
}

.loading {
	opacity: .8;
	
}

.spin {
	animation: spin .5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spin-loading {
	animation: spin-loading 1s linear infinite;
	animation-duration: 1s;
}

@keyframes spin-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loading-spin-circle {
	transform-origin: center;
	animation-name: loading-spin-circle;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	height: 1px;
}


/*Loading page*/

 .loading-icon {
    margin: auto;
    border: 2px solid #ffffff9f;
    border-radius: 8em;
    width: 22px;
    height: 22px;
    position: relative;
    animation: spin 1s linear infinite;
  }
  
  .loading-icon:before {
    content: '';
    inset: 0;
    width: 3.5px;
    height: 3.5px;
    border-radius: 8em;
    background: #ffffff9f;
    position: absolute;
    top: .3em;
    left: .3em;
  }
  
  @keyframes spin {
    to {
      transform: rotate(0deg);
    } from {
      transform: rotate(360deg);
    }
  }
  
  
  
  /*-------*/
.loading-icons, .loading-icons:before, .loading-icons:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loading-icons {
  color: #FFF;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  margin: auto;
}

.loading-icons:before,
.loading-icons:after {
  content: '';
  position: absolute;
  top: 0;
}

.loading-icons:before {
  left: -3.5em;
  animation-delay: -0.32s;
}

.loading-icons:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%, 80%, 100% { 
    box-shadow: 0 2.5em 0 -1.3em
  } 40% {
    box-shadow: 0 2.5em 0 0 
    
  }
}
    
  
  /*-----*/
  
  /* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 24px;
  padding: 2px 0;
  box-sizing: border-box;
  display: flex;
  animation: l5-0 3s infinite steps(6);
  background:
    linear-gradient(#000 0 0) 0 0/0% 100% no-repeat,
    radial-gradient(circle 3px,#0082FF 90%,#0000) 0 0/20% 100%
    #000;
  overflow: hidden;
}
.loader::before {
  content: "";
  width: 20px;
  transform: translate(-100%);
  border-radius: 50%;
  background: #ffff2d;
  animation: 
    l5-1 .25s .153s infinite steps(5) alternate,
    l5-2  3s        infinite linear;
}
@keyframes l5-1{ 
    0% {clip-path: polygon(50% 50%,100%   0,100% 0,0 0,0 100%,100% 100%,100% 100%)}
  100% {clip-path: polygon(50% 50%,100% 65%,100% 0,0 0,0 100%,100% 100%,100%  35%)}
}
@keyframes l5-2{ 
  100% {transform: translate(90px)}
}
@keyframes l5-0{ 
  100% {background-size:120% 100%,20% 100%}
}